.indexLoginout {
    background-color: #001529;
    line-height: 64px;
    text-align: center;
}

.indexLoginout span, .indexLoginout a {
    color: #f0f2f5;
}

.userOptions:hover {
    cursor: pointer;
}